---
pagination:
  data: pages
  size: 1
  alias: page
permalink: "{%- if page.id !== meta.homepage.id -%}{{ page.title | slugify }}/{%- endif -%}index.html"
section: "page"
layout: layouts/base.njk
---
<article class="{% if page.id == meta.homepage.id %}home{% endif %} {{ section }} {{ page.title | slugify }}">
    {%- for s in page.pageSections-%}
        <section data-layout={{ s.layout }} data-bg-color={% if s.bgColor.hex %}{{ s.bgColor.hex }}{% else %}#fff{% endif %}>
        {%- for c in s.content -%}
            {% if c.__typename == 'Hero' %}
                {% set hero = c %}
                {% set icon = "icon-eye" %}
                {% include "components/hero.njk" %}
            {% endif %}
            {% if c.__typename == 'Text' %}
                <div class="text-wrapper">
                    <div class="text">
                    {{ c.textmd | md | safe }}
                    </div>
                </div>
            {% endif %}
            {% if c.__typename == 'LinkButton' %}
                {% set l = c %}
                {% set icon = "icon-arrow-right" %}
                {% include "components/linkButton.njk" %}
            {% endif %}
            {% if c.__typename == 'Image' %}
                <div class="image-wrapper">
                    <div class="image">
                        {% for i in c.images %}
                            <img src="{{ i.url }}" alt="{{ i.caption }}" />
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {%- endfor -%}
        </section>
    {%- endfor -%}
    {% if page.id == meta.homepage.id %}
        {% include "components/subscribe.njk" %}
        {# {% include "components/insta-feed.njk" %} #}
    {% endif %}
    {% if page.id == 'cmjx7kcjy4lcc07o2jsu4c827' %}
        <section>
            <ul class="all-events-list">
            {% for e in events %}
                <li><a href="/events/{{ e.title | slugify }}/"><h3>{{ e.dateFrom | eventDate }} — {{ e.title }}</h3></a></li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}
</article>