---
pagination:
  data: pages
  size: 1
  alias: page
permalink: "{%- if page.id !== meta.homepage.id -%}{{ page.title | slugify }}/{%- endif -%}index.html"
section: "page"
layout: layouts/base.njk
---
<article class="{% if page.id == meta.homepage.id %}home{% endif %} {{ section }} {{ page.title | slugify }}">
    
    {% if page.hero %}
        <div class="page-hero">
            <div class="page-hero-content">
                <div class="page-hero-text">
                    {{ page.hero.text.text | md | safe }}
                </div>
                <a class="button page-hero-cta" href="{{ page.hero.link.page.title | slugify }}">
                    <img eleventy:ignore class="icon" src="/img/icon-eye.svg" />
                    {{ page.hero.link.title | safe }}
                </a>
            </div>
            <div class="page-hero-image">
                {% for i in page.hero.image.image %}
                    <img src="{{ i.url }}" alt="{{ i.caption }}" />
                {% endfor %}
            </div>
        </div>
    {% else%}
        <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}

    {%- for s in page.pageSections-%}
        <section class="{{ s.numColumns }}" {% if s.numColumns == 'cols_2' %}data-bg-color="#f6f4ee"{% endif %}>
            {%- for col in s.columns -%}
                <div class="col">
                    {%- for c in col.content -%}
                        {%- if c.image -%}
                            <div class="image">
                                {% for i in c.image %}
                                    <img src="{{ i.url }}" alt="{{ i.caption }}" />
                                {% endfor %}
                            </div>
                        {%- endif -%}

                        {%- if c.subtitle and s.numColumns == 'cols_2' -%}
                            <h2 class="subtitle">{{ c.subtitle }}</h2>
                        {%- endif -%}
                        {%- if c.subtitle and s.numColumns == 'cols_3' -%}
                            <h3 class="subtitle">{{ c.subtitle }}</h3>
                        {%- endif -%}

                        {%- if c.text -%}
                            <div class="text">
                                {{ c.text | md | safe }}
                            </div>
                        {%- endif -%}

                        {%- if c.title -%}
                            <a href="/{{ c.page.title | slugify }}" class="button">{{ c.title }}</a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            {%- endfor -%}
        </section>
    {%- endfor -%}

    {% if page.id == meta.homepage.id %}
        {% include "components/subscribe.njk" %}
        {# {% include "components/insta-feed.njk" %} #}
    {% endif %}
</article>