<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>{{ page.seo.title or page.title }} • {{ meta.title }}</title>

<link rel="stylesheet" href="/css/styles.css">

<meta name="description" content="{{ meta.description }}">
<meta name="copyright"   content="{{ meta.title }}">
<meta name="language"    content="EN">

<meta property="og:type"             content="website" />
<meta property="og:site_name"        content="{{ meta.title }}"/>
<meta property="og:url"              content="{{ meta.siteUrl }}"/>
<meta property="og:title"            content="{{ page.seo.title or page.title }} • {{ meta.title }}" />
<meta property="og:description"      content="{{ page.seo.description or meta.description }}" />
{% if hero %}
    <meta property="og:image"          content="{{ page.seo.image.jmd or meta.siteOgImage.jmd }}" />
    <meta property="og:image:type"     content="image/jpeg" />
    <meta property="og:image:width"    content="1600" />
{% else %}
    <meta property="og:image"          content="{{ page.seo.image.jmd or meta.siteOgImage.jmd }}" />
    <meta property="og:image:type"     content="image/jpeg" />
    <meta property="og:image:width"    content="1600" />
{% endif %}

<meta name="twitter:card"            content="summary_large_image" />
<meta name="twitter:site"            content="{{ meta.siteUrl }}" />
<meta name="twitter:title"           content="{{ page.seo.title or page.title }} • {{ meta.title }}" />
<meta name="twitter:description"     content="{{ page.seo.description or meta.description }}" />
{% if hero %}
    <meta name="twitter:image:alt"     content="{{ article.seo.seoTitle or article.title or page.seo.seoTitle or page.title }} • {{ meta.title }}" />
    <meta name="twitter:image"         content="{{ meta.siteUrl }}{{ hero | og }}" />
{% else %}
    <meta name="twitter:image:alt"     content="{{ page.seo.title or page.title }} • {{ meta.title }}" />
    <meta name="twitter:image"         content="{{ page.seo.image.jmd or meta.siteOgImage.jmd }}" />
{% endif %}

<meta name="generator" content="{{ eleventy.generator }}">

<link rel="icon" href="/favicon.svg">
{# <link rel="stylesheet" href="https://use.typekit.net/roq4hhp.css"> #}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7RRZHZW6MG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7RRZHZW6MG');
</script>
