<div class="page-hero">
    <div class="page-hero-content">
        <div class="page-hero-text">
            {{ hero.text.textmd | md | safe }}
        </div>

        {% if hero.linkButton.title %}
            {% set l = hero.linkButton %}
            {% include "components/linkButton.njk" %}
        {% endif %}
    </div>
    {% if hero.image.url %}
        <div class="page-hero-image">
            <video id="hero-mask" preload="auto" muted playsinline style="opacity: 0"><source src="/vid/vidMask_lo.mp4"></video>
            <img 
                id="hero-img"
                src="{{ hero.image.url }}"
                alt="{{ hero.image.caption }}"
                loading="eager"
                decoding="sync"
                fetchpriority="high"
                style="opacity: 0"
                onload="img = document.getElementById('hero-img'); video = document.getElementById('hero-mask');video.style.opacity = '1';video.currentTime=0;video.play();img.style.opacity = '1';"/>
            {% if hero.image.caption %}
                <span class="image-caption">{{ hero.image.caption | md | safe }}</span>
            {% endif %}
        </div>
    {% endif %}
</div>