<div class="page-hero">
    <div class="page-hero-content">
        <div class="page-hero-text">
            {{ hero.text.textmd | md | safe }}
        </div>

        {% if hero.linkButton.title %}
            {% set l = hero.linkButton %}
            {% include "components/linkButton.njk" %}
        {% endif %}
    </div>
    {% if hero.image.url %}
        <div class="page-hero-image">
            <video id="hero-mask" muted><source src="/vidMask.mp4"></video>
            <img src="{{ hero.image.url }}" alt="{{ hero.image.caption }}" onload="video = document.getElementById('hero-mask');video.currentTime=0;video.play()"/>
        </div>
    {% endif %}
</div>