<iframe id="insta-feed" onload="iFrameSetup(this)" src="https://app.mirror-app.com/feed-instagram/5114258a-14cd-46f3-8416-0be189661f2c/preview" style="width:100%;border:none;overflow:hidden;" scrolling="no"></iframe>
<div class="insta-overlay">
    <a href="https://www.instagram.com/tyebmehtafoundation" class="button" target="_blank">
        <img eleventy:ignore src="/img/icon-instagram.svg" />
        Follow @tyebmehtafoundation
    </a>
</div>
<script src="https://cdn.jsdelivr.net/npm/@mirrorapp/iframe-bridge@latest/dist/index.umd.js"></script>