.event {
    .gallery-wrapper {
        padding-top: 0;
    }

    .gallery {
        grid-column: 1/-1;
    }

    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-s);

        picture,
        img {
            height: 35vw;
            width: auto;
            max-width: 100%;
        }

        @media screen and (min-width: 600px) {

            picture,
            img {
                height: 25vw;
            }
        }

        @media screen and (min-width: 1024px) {
            gap: var(--s-b);

            picture,
            img {
                height: 20vw;
            }
        }
    }
}

.all-events-list,
.all-event-details {
    grid-column: 1/-1;
    list-style: none;
    margin: 0;
    padding: var(--s-xl) 0;

    @media screen and (min-width: 1024px) {
        grid-column: 2/-2;
    }

    li {
        border-bottom: 1px solid var(--grey-200);
        padding: var(--s-xl) 0;
        transition: all var(--transition-timing);
        
        &:hover {
            border-bottom: 1px solid transparent;
            background-color: var(--grey-50);
            box-shadow: 0 0 0 var(--s-b) var(--grey-50);
        }
        
        a {
            text-decoration: none;
            display: grid;
            grid-template-columns: 20% 1fr 20%;
            gap: var(--s-m);
            align-items: baseline;
            justify-content: start;
            cursor: pointer;

            >div {
                display: flex;
                flex-direction: column;
            }
        }

        h3,
        .event-date,
        .event-venue {
            font-size: var(--fs-lg);
            font-weight: 450;
            line-height: 1.1;
            margin: 0 !important;
        }

        .badge {
            justify-self: end;
        }
    }

    .solo a {
        cursor: default;
    }

    .event-thumbnail {
        display: none;
    }
}

.all-event-details li {
    a {
        grid-template-columns: 1fr 1fr var(--s-xxxl);

        div:first-child {
            grid-column: 1/-1;
        }

        div:not(:first-child) {
            grid-row: 2;
        }

        @media screen and (min-width: 600px) {
            grid-template-columns: 4fr 2fr 2fr var(--s-xxxl);

            div:first-child {
                grid-column: 1/2;
                grid-row: 1;
            }

            div:not(:first-child) {
                grid-row: 1;
            }
        }
    }

    .event-date,
    .event-venue {
        font-size: var(--fs-md);
        font-weight: 500;
        margin: 0 !important;
    }

    .text-wrapper {
        max-width: 40em;
    }
}

.poster-thumbnail {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.8);
    will-change: transform, opacity, left, top;
    box-shadow: var(--white-border), var(--shadow-elevation-high);
    /* Initialize position off-screen */
    left: -1000px;
    top: -1000px;

    picture,
    img {
        height: 360px;
        width: auto;
        object-fit: cover;
        display: block;
    }

    // @media (max-width: 768px),
    // (hover: none) {
    //     display: none !important;
    // }
}