footer {
    position: relative;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    margin: var(--s-xxl) var(--s-l) var(--s-l) var(--s-l);
    padding: 0 var(--s-l);
    height: -webkit-fill-available;
    border-radius: 4px;
    background-color: var(--blue-700);
    color: var(--white-100);

    >* {
        padding: var(--s-l) 0;
    }

    #back-to-top {
        position: absolute;
        top: var(--s-l);
        right: var(--s-l);
        padding: 0;
        z-index: 10;

        img {
            width: var(--s-m);
        }
    }

    >div {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: var(--s-m);
        border-bottom: 1px solid var(--white-30);

        @media screen and (min-width: 1024px) {
            grid-column: span 8;
            border: 0;
        }
    }

    nav {
        grid-column: span 2;

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--s-b);
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &:last-child ul {
            @media screen and (max-width: 600px) {
                padding-left: var(--s-m);
            }
        }
    }

    a {
        position: relative;
        width: max-content;

        &:not(.home-link):after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: var(--s-s);
            right: var(--s-s);
            height: 0;
            border-bottom: 1px solid transparent;
            transition: var(--transition-all);
        }

        &:hover:after {
            border-bottom: 1px solid currentColor;
        }
    }
}