header {
    position: sticky;
    top: calc(var(--s-l) + var(--s-l));
    z-index: 100;
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--s-l) 0;
    padding: var(--s-s) var(--s-l);
    min-height: var(--nav-height);
    height: min-content;
    border-radius: 4px;
    background-color: var(--white-80);
    color: var(--grey-600);
    border: 1px solid var(--white-30);
    backdrop-filter: blur(16px);
    animation: fade-in 0.3s ease-in 1s 1 both;

    img {
        max-height: var(--s-l);
        width: auto;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: var(--s-m);
        list-style: none;
        margin: 0;
        padding: 0;

        li:last-child {
            img {
                display: block;
            }
            span {
                display: none;
            }
        }
    }

    nav a {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: var(--s-s);
            right: var(--s-s);
            height: 0;
            border-bottom: 2px solid transparent;
            transition: var(--transition-all);
        }

        &:hover:after,
        &[aria-current]:after {
            border-bottom: 2px solid currentColor;
        }

        &[aria-current] {
            pointer-events: none;
        }
    }

    .toggle-nav {
        display: none;
        height: 2rem;
        width: 2rem;
        align-self: center;
        justify-self: end;
        grid-template: 1fr / 1fr;
        place-items: center;

        .icon {
            grid-column: 1/-1;
            grid-row: 1;
        }

        .close {
            opacity: 0;
        }

        .menu {
            opacity: 1;
        }

        &.active {
            .close {
                opacity: 1;
            }

            .menu {
                opacity: 0;
            }
        }
    }


    @media screen and (max-width: 1024px) {
        min-height: 0;

        nav {
            width: 100%;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            z-index: -1;
            transition: var(--transition-all);

            &.active {
                max-height: max-content;
                opacity: 1;
                pointer-events: all;
            }
        }

        nav ul {
            flex-direction: column;
            gap: var(--s-b);
            padding: 40px 40px 24px 40px;

            li:last-child {
                img {
                    display: none;
                }
                span {
                    display: inline-block;
                }
            }

            a {
                font-size: var(--fs-md);
            }
        }

        .toggle-nav {
            display: grid;
        }
    }

}