.page {
    section[data-layout='textLeft'] {
        .image-wrapper {
            grid-column: 7/12;
            grid-row: 1 / span 25;
        }
        > *:not(.image-wrapper) {
            grid-column: 2/6;
            margin-bottom: var(--s-l);
        }
        .text-wrapper {
            margin-top: var(--s-xl);
        }
    }
    section[data-layout='textRight'] {
        .image-wrapper {
            grid-column: 2/7;
            grid-row: 1 / span 25;
        }
        > *:not(.image-wrapper) {
            grid-column: 8/12;
            margin-bottom: var(--s-l);
        }
        .text-wrapper {
            margin-top: var(--s-xl);
        }
    }
    section[data-layout='grid'] {
        grid-column: 1/-1;
        grid-template-columns: 1fr;
        
        @media screen and (min-width: 600px) {
            background: linear-gradient(180deg, rgba(246, 244, 238, 0) 0, rgba(246, 244, 238, 0) 240px, #fff0de 241px, rgba(246, 244, 238, 0) 85%);
            grid-template-columns: repeat(3, minmax(20px, 1fr));
        }

        .text-wrapper {
            grid-template-rows: 360px 48px max-content;
            gap: var(--s-xl);
            padding: var(--s-l) 5vw;

            @media screen and (max-width: 600px) {
                background: linear-gradient(180deg, rgba(246, 244, 238, 0) 0, rgba(246, 244, 238, 0) 240px, #fff0de 241px, rgba(246, 244, 238, 0) 85%);
            }

            img {
                height: 360px;
                width: auto;
            }
        }
    }
}

.page.coming-soon {
    h1 {
        text-align: center;
        color: var(--grey-700);
    }
}