.search-container {
  grid-template-rows: min-content 1fr;
}
.search-input-wrapper {
  grid-column: 1/-1;
  padding: var(--s-b);
  gap: var(--s-b);
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--grey-300);
  color: var(--white-100);
  border-radius: 4px;

  @media screen and (min-width: 1024px) {
    grid-column: 2/-2;
    padding: var(--s-l);
    gap: var(--s-l);
  }
}
#clear-search {
  display: none;
}
#search-results {
  grid-column: 1/-1;
  padding: var(--s-l) 0 var(--s-xl) 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    grid-column: 2/-2;
  }

  *:empty {
    display: none;
  }
}

a.search-result {
  padding: var(--s-m) 0;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  gap: var(--s-b);
  animation: fade-in 0.3s ease-in;

  @media screen and (min-width: 1024px) {
    padding: var(--s-l);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-200);
  }

  &:hover {
    background-color: var(--grey-50);
  }

  p {
    margin: 0;
    font-size: var(--fs-md);
    font-weight: 350;
  }

  .read-more {
    width: max-content !important;
    justify-self: end;
    background-color: var(--grey-950);
    color: var(--white-100);
  }
}

.no-search-result {
  padding: var(--s-l);
  font-size: var(--fs-lg);
  text-align: center;
  color: var(--grey-400);
}
