.subscribe-form {
    .form-wrapper {
        position: relative;
        grid-column: 2/-2;
        margin: var(--s-l) var(--s-l) var(--s-l) var(--s-l);
        padding: var(--s-l);
        border-radius: 4px;
        background-color: var(--blue-700);
        color: var(--white-100);
        text-align: center;

        @media screen and (max-width: 600px) {
            grid-column: 1/-1;
        }

        h2 {
            color: inherit;
            margin: 1em 0 2em 0;
        }

        p {
            font-size: var(--fs-md);
            max-width: 32em;
            margin: 1em auto;
        }

        form {
            display: flex;
            gap: var(--s-s);
            margin: var(--s-xl) auto 0 auto;
            max-width: 64em;

            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }
        }

        .form-group {
            flex: 1 0 auto;
        }

        .hidden {
            display: none;
        }
    }
}