.timeline {
    .year {
        grid-column: 1 / span 1;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: var(--red-600);
    }

    .text-wrapper {
        grid-column: 2 / span 3;
    }

    .image-wrapper {
        grid-column: 1/-1;
        padding-top: var(--s-xl);
    }

    @media screen and (min-width: 600px) {
        .year {
            grid-column: 1 / span 1;
        }

        .text-wrapper {
            grid-column: 2 / span 3;
        }

        .image-wrapper {
            grid-column: 6/-1;
            padding-top: 0;

            &[data-layout='fullWidth'] {
                grid-column: 1/-1;
                padding-top: calc(2 * var(--s-xl));
            }
        }

    }

    @media screen and (min-width: 1024px) {
        .year {
            grid-column: 2 / span 1;
        }

        .text-wrapper {
            grid-column: 3 / span 4;
        }

        .image-wrapper {
            grid-column: 8/-2;
            padding-top: 0;

            &[data-layout='fullWidth'] {
                grid-column: 1/-1;
                padding-top: calc(2 * var(--s-xl));
            }
        }

    }
}