@use "reset";
@use 'typography';
@use 'variables';
@use 'grid';
@use 'globals';
@use 'header';
@use 'footer';
@use 'pages';
@use 'insta-feed';
@use 'modal';
// @use 'subscribe-form';
// @use 'search';

@view-transition {
    navigation: auto;
}

/* Create a custom page transition animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(48px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-48px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Apply the custom animation to the old and new page states */
::view-transition-old(root) {
    animation: 0.3s ease-in both fade-out;
}
::view-transition-new(root) {
    animation: 0.3s ease-in both fade-in;
}

* {
    // outline: 1px solid red;
}
