@use "reset";
@use 'typography';
@use 'variables';
@use 'grid';
@use 'globals';
@use 'banner';
@use 'header';
@use 'footer';
@use 'hero';
@use 'pages';
@use 'timelines';
@use 'events';
@use 'heading-animations';
@use 'insta-feed';
@use 'modal';
@use 'subscribe-form';
// @use 'search';

@view-transition {
    navigation: auto;
}

/* Create a custom page transition animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(48px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-48px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Apply the custom animation to the old and new page states */
::view-transition-old(root) {
    animation: 0.3s ease-in both fade-out;
}
::view-transition-new(root) {
    animation: 0.3s ease-in both fade-in;
}

* {
    // outline: 1px solid red;
}
.test-markup {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: var(--s-l);
}
body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 32px;
    right: 32px;
    bottom: 0;
    pointer-events: none;
    opacity: 0.2;
    z-index: 9999;
    border-left: 1px solid grey;
    background: repeating-linear-gradient(90deg, transparent 0% calc(25% - 1px), grey calc(25% - 1px) 25%) repeat-x;
        
    @media screen and (min-width: 600px) {
        background: repeating-linear-gradient(90deg, transparent 0% calc(12.5% - 1px), grey calc(12.5% - 1px) 12.5%) repeat-x;
    }
    
    @media screen and (min-width: 1024px) {
        background: repeating-linear-gradient(90deg, transparent 0% calc(8.3333% - 1px), grey calc(8.3333% - 1px) 8.3333%) repeat-x;
    }
}

.event {
    .gallery-wrapper {
        grid-column: 1/-1;

        @media screen and (min-width: 1024px) {
            grid-column: 2/-2;
        }
    }
    .gallery {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-xs);

        picture, img {
            height: 20vw;
            width: auto;
            max-width: 100%;
        }
    }
}