@use "reset";
@use 'typography';
@use 'variables';
@use 'globals';
// @use "debug";
@use 'banner';
@use 'header';
@use 'footer';
@use 'hero';
@use 'pages';
@use 'timelines';
@use 'events';
@use 'img-reveal';
@use 'heading-animations';
@use 'insta-feed';
@use 'youtube-embed';
@use 'accordion';
@use 'modal';
@use 'subscribe-form';
@use 'search';

/* Animation wiping in the new content */
@keyframes wipe-in {
    from {
        clip-path: inset(100% 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeToBlack {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(0);
    }
}
@keyframes fadeFromBlack {
    from {
        filter: brightness(0);
        transform: translateY(24px) scale(0.95);
    }
    to {
        filter: brightness(1);
        transform: translateY(0) scale(1);
    }
}

/* Create a custom page transition animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(32px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-48px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@view-transition {
    navigation: auto;
}
/* Apply custom animations to the old and new page states */
::view-transition-old(root) {
    animation: fade-out 0.25s ease-in forwards;
}
::view-transition-new(root) {
    animation: fade-in 0.25s ease-in forwards;
}
@media screen and (min-width: 720px) {
    ::view-transition-old(root) {
        animation: fadeToBlack 0.25s ease-out forwards;
    }
    ::view-transition-new(root) {
        animation: fadeFromBlack 0.75s ease-out forwards;
    }
}
@media (prefers-reduced-motion: reduce) {

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none !important;
    }
}

