@use "reset";
@use 'typography';
@use 'variables';
@use 'globals';
// @use "debug";
@use 'banner';
@use 'header';
@use 'footer';
@use 'hero';
@use 'pages';
@use 'timelines';
@use 'events';
@use 'heading-animations';
@use 'insta-feed';
@use 'modal';
@use 'subscribe-form';
@use 'search';

/* Animation wiping in the new content */
@keyframes wipe-in {
    from {
        clip-path: inset(100% 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeToBlack {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(0);
    }
}
@keyframes fadeFromBlack {
    from {
        filter: brightness(0);
        transform: translateY(24px) scale(0.95);
    }
    to {
        filter: brightness(1);
        transform: translateY(0) scale(1);
    }
}

/* Create a custom page transition animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(32px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-48px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@view-transition {
    navigation: auto;
}
/* Apply custom animations to the old and new page states */
// ::view-transition-old(root) {
//     animation: 0.3s ease-in both fade-out;
// }
// ::view-transition-new(root) {
//     animation: 0.3s ease-in both fade-in;
// }
::view-transition-old(root) {
    animation: fadeToBlack 0.25s ease-out forwards;
}
::view-transition-new(root) {
    animation: fadeFromBlack 0.75s ease-out forwards;
}

.event {
    .gallery-wrapper {
        grid-column: 1/-1;

        @media screen and (min-width: 1024px) {
            grid-column: 2/-2;
        }
    }
    .gallery {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-xs);

        picture, img {
            height: 20vw;
            width: auto;
            max-width: 100%;
        }
    }
}
.all-events-list {
    grid-column: 2/-2;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid var(--grey-200);
        padding: var(--s-m) 0;
        a {
            text-decoration: none;
            display: grid;
            grid-template-columns: 20% 1fr 20%;
            align-items: baseline;
            justify-content: start;
        }
        .event-date,
        h3 {
            @extend h3;
            margin: 0 !important;
        }
        .badge {
            justify-self: end;
        }
    }
    .event-thumbnail {
        display: none;
    }
}
.poster-thumbnail {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.8);
    will-change: transform, opacity, left, top;
    box-shadow: var(--white-border), var(--shadow-elevation-high);
    /* Initialize position off-screen */
    left: -1000px;
    top: -1000px;

    picture,
    img {
        height: 360px;
        width: auto;
        object-fit: cover;
        display: block;
    }

    // @media (max-width: 768px),
    // (hover: none) {
    //     display: none !important;
    // }
}

// IMAGE REVEAL
@media (prefers-reduced-motion: reduce) {
    .image-reveal-wrapper {
        clip-path: none !important;
    }

    .image-reveal-wrapper img {
        opacity: 1 !important;
        transform: none !important;
    }
}